body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  background-color: #fff;
  color: #111;
  margin: 0;
}

header {
  background-color: #1e2720;
  padding: 0.8rem 1rem;
}

nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 0.9rem;
  transition: opacity 0.3s;
}

nav a:hover {
  opacity: 0.7;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 0.9rem;
  transition: opacity 0.3s;
}

nav a:hover {
  opacity: 0.7;
}

main {
  max-width: 800px;
  margin: auto;
  padding: 2rem 1rem;
}

h1 {
    font-family: Rubik Mono One;
  font-size: 3rem;
  font-weight: 900;
  text-align: center;
  margin-bottom: 2rem;
  letter-spacing: 2px;
}

h2 {
  font-size: 1.3rem;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  color: #111;
}

section {
  margin-bottom: 1.5rem;
}

.pix-e-pagseguro {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
  flex-wrap: wrap;
}

.pix-e-pagseguro img {
  max-width: 160px;
  height: auto;
}

footer {
  background-color: #1e2720;
  color: white;
  text-align: center;
  padding: 2rem 1rem;
  font-size: 0.9rem;
  margin-top: 3rem;
}

@media (max-width: 600px) {
  h1 {
    font-size: 2rem;
  }

  .pix-e-pagseguro {
    flex-direction: column;
  }

  nav {
    flex-direction: column;
    gap: 0.5rem;
  }
}
