body {
      font-family: 'Arial', sans-serif;
      margin: 0;
      background-color: #f5f5f5;
      color: #333;
    }

 header {
  background-color: #1e2720;
  padding: 0.8rem 1rem;
}

nav {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
}


nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 0.9rem;
  transition: opacity 0.3s;
}

nav a:hover {
  opacity: 0.7;
}

    main {
      padding: 2rem;
      max-width: 900px;
      margin: auto;
    }

   h1 {
    font-family: Rubik Mono One;
  font-size: 3rem;
  font-weight: 900;
  text-align: center;
  margin-bottom: 2rem;
  letter-spacing: 2px;
}

    section {
      margin-top: 2rem;
    }

    .documento {
      background-color: white;
      padding: 1rem;
      border-radius: 8px;
      margin-bottom: 1rem;
      box-shadow: 0 0 5px rgba(0,0,0,0.1);
    }

    a {
      color: #386c4a;
      text-decoration: none;
      font-weight: bold;
    }

    footer {
      background-color: #386c4a;
      color: white;
      text-align: center;
      padding: 1.5rem;
      margin-top: 3rem;
    }

    .header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  max-height: 60px;
  height: auto;
  width: auto;
}
